.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  padding: 36px;
  background-color: rgb(245, 203, 203);
}

.passwordInput {
  padding: 12px 8px;
  border: none;
  outline: none;
}

.strengthBars {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strengthBar {
  width: 200px;
  height: 30px;
  border-radius: 16px;
}
